* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background: black; */
    background: url("images/Background1.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px rgba(112, 98, 98, 0.541);
    animation: ChangePicture 10s infinite linear;
}

@keyframes ChangePicture {
    0% {
        background: url('Image1.jpg');
        background-size: 800%;
    }
    25% {
        background: url('Image2.jpg');
        background-size: 800%;
    }
    50% {
        background: url('images/RedBlackGradient.jpg');
        background-size: 800%;
    }
    75% {
        background: url('Image2.jpg');
        background-size: 800%;
    }
    100% {
        background: url('Image1.jpg');
        background-size: 800%;
    }
}

section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    form {
        margin-top: 0px;
    }
}

.form {
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    width: 350px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    text-align: center;
}

.form::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    animation: Form 2s infinite linear;
    z-index: -1;
    transform: skew(2deg, 1deg);
    border-radius: 10px;
}
@keyframes Form {
    0% {
        background: linear-gradient(315deg, #e91e63, #5d02ff);
    }
    25% {
        background: linear-gradient(315deg, #5d02ff, #e91e63);
    }
    50% {
        background: linear-gradient(315deg, #e91e63, #5d02ff);
    }
    75% {
        background: linear-gradient(315deg, #5d02ff, #e91e63);
    }
    
    100% {
        background: linear-gradient(315deg, #e91e63, #5d02ff);
    }
}

.form h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form .input {
    margin-top: 40px;
    text-align: left;
}

.form .input .inputBox {
    margin-top: 10px;
}

.form .input .inputBox label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.form .input .inputBox input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.checkbox {
    /* margin: auto; */
    margin-left: 30px;
}

.checkbox p,
.checkbox input {
    font-size: 15px;
}

.form .input .inputBox input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
}

.form .input .inputBox input[type="submit"]:hover {
    background: linear-gradient(315deg, #5d02ff, #e91e63);
}

.form .input .inputBox input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.521);
    background: linear-gradient(315deg, #e91e6271, #5f02ff8c);
}

.forgot {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.forgot a {
    color: #ff0800;
}

#body {
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#body:before {
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient( #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    left: -25%;
    top: -25%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

#body:after {
    /* content: "RAINBOW"; */
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
}